{% extends 'registration/base_registration.html' %}

{% block extrahead %}
<style type="text/css">
    @media only screen and (min-width: 601px) {
        #id_card_type_container {
            margin-top: 40px;
            margin-left: 50px;
        }
    }
</style>
{% endblock %}

{% block titulo_form %}Cadastro{% endblock %}

{% block content %}
{% load material_form %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="submit" name="_submit" class="btn" value="Registrar" />
</form>
{% endblock %}

{% block extra-option %}
<p style="text-align:right">Ja possui cadastro? <a href="{% url 'login' %}">Entre no sistema!</a></p>

{% endblock %}