{% extends 'sorteios/base_sorteios.html' %}

{% block extracss %}
{% load static %}
<link href="{% static 'material/fonts/material-design-icons/material-icons.css' %}" rel="stylesheet">

<link href="{% static 'css/material_modified.css' %}" rel="stylesheet">
<link href="{% static 'material/css/materialize.forms.css' %}" rel="stylesheet">
<link href="{% static 'material/css/jquery.datetimepicker.css' %}" rel="stylesheet">
{% endblock%}

{% block content %}

{% load material_form %}
<div class="col-sm-8 mx-auto">
    <h2>{% block title %}Criar novo sorteio{% endblock %}</h1>
    <form action="{% block action %}{% url 'novo-sorteio' %}{% endblock %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <input type="submit" name="_submit" class="btn" value="{% block button %}Criar novo sorteio{% endblock %}" />
    </form>
</div>

{% endblock %} 

{% block extrajs %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% endblock %}