{% extends 'sorteios/base_sorteios.html' %}

{% block extracss %}
{% include 'material/includes/material_css.html' %}
{% endblock%}

{% block content %}

<h1>{% block title %}Criar novo sorteio{% endblock %}</h1>

{% load material_form %}
<form action="{% block action %}{% url 'novo-sorteio' %}{% endblock %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="submit" name="_submit" class="btn" value="{% block button %}Criar novo sorteio{% endblock %}" />
</form>

{% endblock %} 

{% block extrajs %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% endblock %}