{% extends 'sorteios/base_sorteios.html' %}


{% block content %}

{% if messages %}
<div class="col-sm-8 mx-auto">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if sorteio_list %}
{% load static %}
<div class="col-lg-12 mx-auto sorteios-title">
    <h1>{% block page-title %}Meus Sorteios{% endblock %}</h1>
</div>

<div class="col-lg-12 mx-auto sorteio-item-box">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan=2 scope="col">Sorteio</th>
                    <th scope="col">Participantes</th>
                    <th scope="col">Criado há</th>
                </tr>
            </thead>
            <tbody>
        {% for sorteioinst in sorteio_list %}
                <tr>
                    <th scope="row">
                        <div class="sorteio-info-mini">
                            {% if sorteioinst.foto %}
                            <a  href="{% url 'visualizar-sorteio' pk=sorteioinst.pk %}"><img src="{{ sorteioinst.foto.url }}"></a>
                            {% else %}
                            <a  href="{% url 'visualizar-sorteio' pk=sorteioinst.pk %}"><img src="{% static 'img/empty-project-image.jpg' %}"></a>
                            {% endif %}
                        </div>
                    </th>
                    <th>
                        <a href="{% url 'visualizar-sorteio' pk=sorteioinst.pk %}">{{ sorteioinst.nome }}</a><br>
                        {% if sorteioinst.precisa_sortear or sorteioinst.sorteado %}
                        <a class="sorteio-time warning">Sorteio acabou há {{ sorteioinst.hora_sorteio | timesince }}</a>
                        {% else %}
                        <a class="sorteio-time ongoing">{{ sorteioinst.hora_sorteio | timeuntil }} restantes</a>
                        {% endif %}
                    </th>
                    <th scope>{{ sorteioinst.participantes.count }}</th>
                    <th scope>{{ sorteioinst.hora_criado | timesince }}</th>
                </tr>
            

        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="col-sm-8 mx-auto">
    <h1>Você não criou nenhum sorteion :(</h1>
</div>
{% endif %}

{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="col-sm-12 mx-auto">
    <div class="pagination" >
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{% endblock %}