{% extends 'sorteios/base_sorteios.html' %}

{% block content %}

{% if sorteio_list %}
{% load static %}
<div class="col-sm-8 mx-auto sorteios-title">
    <h1>Sorteios Públicos Recentes</h1>
</div>
{% for sorteioinst in sorteio_list %} 
<div class="col-sm-8 mx-auto sorteio-item-box">
    <div class="sorteio-users-counter">
        Participantes: {{ sorteioinst.participantes.count }}
    </div>
    <h2>{{ sorteioinst.nome }}</h2>
    <div class="sorteio-user-info">
        <div class="sorteio-user-avatar">
            <img src="{% static 'img/empty-user-image.png' %}">
        </div>

        <div class="sorteio-user-name-date">
            <p>Criado por <b>{{ sorteioinst.criador.username }}</b> há {{ sorteioinst.hora_criado | timesince }}</p>
            <p>{{ sorteioinst.hora_sorteio | timeuntil }} restantes</p>
        </div>

        <div class="sorteio-info">
            {% if sorteioinst.foto %}
            <img src="{{ sorteioinst.foto.url }}">
            {% else %}
            <img src="{% static 'img/empty-project-image.jpg' %}">
            {% endif %}
            <p>{{ sorteioinst.descricao|truncatechars:650 }}</p>
        </div>
    </div>
    <a href="{% url 'visualizar-sorteio' pk=sorteioinst.pk %}">
        <div class="sorteio-view btn">
            Visualizar Sorteio
        </div>
    </a>
</div>
{% endfor %}
{% else %}
<div class="col-sm-8 mx-auto">
    <h1>Não há nenhum sorteio ativo no momento :(</h1>
</div>
{% endif %}

{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="col-sm-8 mx-auto">
    <div class="pagination" >
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{% endblock %}


