{% extends 'sorteios/base_sorteios.html' %}

{% block content %}

<h1>Visualizar Sorteio</h1>


<div class="col-sm-8 mx-auto">
        <h1>{{ sorteio.nome }}</h1>
        <p>{{ sorteio.descricao }}</p>
        <p>{{ sorteio.hora_criado }}</p>
        <p>{{ sorteio.hora_sorteio }}</p>
        <p>{{ sorteio.criador.username }}</p>
        <p>{{ sorteio.participantes.count }}</p>
        <p>{{ sorteio.privacidade }}</p>
        {% if owner %}
        <a href="{% url 'deletar-sorteio' pk=sorteio.pk %}">Deletar Sorteio</a><br>
        {% else %}
        <a href="{% url 'entrar-sorteio' pk=sorteio.pk %}">Entrar Sorteio</a><br>
        {% endif %}
        <a href="{% url 'visualizar-participantes' pk=sorteio.pk %}">Visualizar Participantes</a>
</div>


{% endblock %}     
