{% extends 'sorteios/base_sorteios.html' %}

{% block title %}Criptosorteio - {{sorteio.nome}}{% endblock %}

{% block content %}
{% load static %}

<div class="col-lg-8 mx-auto">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>{{ sorteio.nome }}</h1>

    <div class="sorteio-user-avatar">
        <img src="{% static 'img/empty-user-image.png' %}">
    </div>

    <div class="sorteio-user-name-date">
        <p>Criado por <b>{{ sorteio.criador.username }}</b> há {{ sorteio.hora_criado | timesince }}</p>
        {% if sorteio.precisa_sortear or sorteio.sorteado %}
        <p style="color: red">Sorteio acabou há {{ sorteio.hora_sorteio | timesince }}</p>
        {% else %}
        <p>{{ sorteio.hora_sorteio | timeuntil }} restantes</p>
        {% endif %}
    </div>

    <div class="sorteio-especifico-info">
        {% if sorteio.foto %}
        <img src="{{ sorteio.foto.url }}">
        {% else %}
        <img src="{% static 'img/empty-project-image.jpg' %}">
        {% endif %}
        <h4>Descrição:</h4>
        <p>{{ sorteio.descricao }}</p>
    </div>

    <h4>Informações:</h4>
    <ul class="sorteio-info-list">
        <li>{{ sorteio.participantes.count }}{% if sorteio.participantes.count == 1 %} participante {% else %} participantes{% endif %}</li>
        <li><a style="font-weight:bold;">Privacidade:</a> {% if sorteio.privacidade == "pub" %}Publico{% else %}Esse sorteio não está listado, cuidado com quem você compartilha esse link!{% endif %}</li>
        
        {% if sorteio.precisa_sortear %}
        <li style="color:red">Em processamento...</li>
        {% elif sorteio.sorteado %}
        <li><a style="font-weight:bold;">Ganhador:</a> <a style="color:green">{{ sorteio.ganhador.first_name }} {{ sorteio.ganhador.last_name }} ({{ sorteio.ganhador.username }})</a></li>
        {% endif %}
    </ul>
    

    {% if not sorteio.sorteado and not sorteio.precisa_sortear %}
    <h4>Ações:</h4>
    
    <div class="sorteio-buttons">
        {% if not joined %}
        <a class="btn btn-primary" href="{% url 'entrar-sorteio' pk=sorteio.pk %}">Entrar no sorteio</a>
        {% else %}
        <a class="btn btn-danger" href="{% url 'sair-sorteio' pk=sorteio.pk %}">Sair do sorteio</a>
        {% endif %}
        {% if owner %}
        <a class="btn btn-primary" href="{% url 'editar-sorteio' pk=sorteio.pk %}">Editar sorteio</a>
        <a class="btn btn-danger" href="{% url 'deletar-sorteio' pk=sorteio.pk %}" onclick="return confirm('Você tem certeza que quer deletar esse sorteio?');">Deletar sorteio</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'visualizar-participantes' pk=sorteio.pk %}">Participantes (JSON)</a>
    </div>
    {% else %}
    <a class="btn btn-primary" href="{% url 'visualizar-participantes' pk=sorteio.pk %}">Participantes (JSON)</a>
    {% endif %}
    
</div>
<br>
<div class="col-lg-8 mx-auto">
    <h3>Comentários</h3>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = "http://criptosorteio.win/sorteios/{{ sorteio.pk }}";
        this.page.identifier = "{{ sorteio.pk }}";
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://criptosorteio.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% block extrajs %} <script id="dsq-count-scr" src="//criptosorteio.disqus.com/count.js" async></script> {% endblock %}


{% endblock %}     
