{% extends 'sorteios/base_sorteios.html' %}

{% block content %}
{% load static %}

<div class="col-sm-8 mx-auto sorteio-item-box">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="sorteio-users-counter">
        {{ sorteio.participantes.count }} 
        {% if sorteio.participantes.count == 1 %}
            participante
        {% else %}
            participantes
        {% endif %}
    </div>
    <h1>{{ sorteio.nome }}</h1>

    <div class="sorteio-user-avatar">
        <img src="{% static 'img/empty-user-image.png' %}">
    </div>

    <div class="sorteio-user-name-date">
        <p>Criado por <b>{{ sorteio.criador.username }}</b> há {{ sorteio.hora_criado | timesince }}</p>
        {% if sorteio.precisa_sortear or sorteio.sorteado %}
        <p style="color: red">Sorteio acabou há {{ sorteio.hora_sorteio | timesince }}</p>
        {% else %}
        <p>{{ sorteio.hora_sorteio | timeuntil }} restantes</p>
        {% endif %}
    </div>

    <div class="sorteio-info">
        {% if sorteio.foto %}
        <img src="{{ sorteioinst.foto.url }}">
        {% else %}
        <img src="{% static 'img/empty-project-image.jpg' %}">
        {% endif %}
        <p>{{ sorteio.descricao }}</p>
    </div>
    <p>{% if sorteio.privacidade == "pub" %}Publico{% else %}Esse sorteio não está listado, cuidado com quem você compartilha esse link!{% endif %}</p>
    {% if not sorteio.sorteado and not sorteio.precisa_sortear %}
        {% if not joined %}
        <a href="{% url 'entrar-sorteio' pk=sorteio.pk %}">
            <div class="sorteio-view-button btn2">
                Entrar no sorteio
            </div>
        </a>
        {% else %}
        <a href="{% url 'sair-sorteio' pk=sorteio.pk %}">
            <div class="sorteio-view-button btn3">
                Sair do sorteio
            </div>
        </a>
        {% endif %}
        {% if owner %}
        <a href="{% url 'editar-sorteio' pk=sorteio.pk %}">
            <div class="sorteio-view-button btn2">
                Editar sorteio
            </div>
        </a>
        <a href="{% url 'deletar-sorteio' pk=sorteio.pk %}">
            <div class="sorteio-view-button btn3">
                Deletar sorteio
            </div>
        </a>
        {% endif %}
    {% else %}
        {% if not sorteio.sorteado %}
        <p style="color:red">Em processamento...</p>
        {% else %}
        <p style="color:green">Ganhador: {{ sorteio.ganhador.first_name }} {{ sorteio.ganhador.last_name }} ({{ sorteio.ganhador.username }}) </p>
        {% endif %}
    {% endif %}
    <a href="{% url 'visualizar-participantes' pk=sorteio.pk %}">
        <div class="sorteio-view-button btn2">
            Participantes e string NIST
        </div>
    </a>
</div>

<div class="col-sm-8 mx-auto sorteio-item-box">
    <h3>Deixe um comentário</h3>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = "http://localhost:8000";
        this.page.identifier = "/sorteios/{{ sorteio.pk }}/";
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://criptosorteio.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% block extrajs %} <script id="dsq-count-scr" src="//criptosorteio.disqus.com/count.js" async></script> {% endblock %}


{% endblock %}     
