<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Criptosorteio</title>
    
    <meta name="description" content="Uma maneira prática, segura e confiável para realizar seus sorteios">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
</head>

<body class="montserrat">
    <div id="particles-js">
        <div class="header">
            <div class="site-title">
                <h1>Criptosorteio</h1>
            </div>
            <div class="site-description">
                <p>Uma maneira prática, segura e confiável para realizar seus sorteios</p>
            </div>
            <a href="{% url 'login' %}">Entrar</a>
            <a class="home-link" href="{% url 'register' %}">Registrar</a>
        </div>
    </div>

    <section id="about">
    </section>
    <section id="projects">
    </section>

    <div class="container">
        <div class="col-sm-10 mx-auto row home-info">
            <div class="home-item">
                <div class="home-subtitle">
                    O que é Criptosorteio?
                </div>
                <div class="home-text">
                    Uma ferramenta que permite um sorteio que possa ser validado! Isso significa que qualquer pessoa pode verificar se o resultado do sorteio foi realmente aleatório ou foi propositalmente alterado!
                </div>
            </div>
            <div class="home-item">
                <div class="home-subtitle">
                    Como funciona?
                </div>
                <div class="home-text">
                    <p>É simples! Primeiro você criar seu sorteio, seleciona uma data para sortear e compartilha o link com quem você quer que participe.
                    Quando der a hora do sorteio, o sistema automaticamente seleciona o vencedor com base nos seguintes passos:</p>
                    <ul>
                        <li>Primeiro pegamos uma chave aleatória fornecida pelo <a href="https://beacon.nist.gov/home">NIST Randomness Beacon</a>, acessível por todos.</li>
                        <li>Depois, concatenamos essa chave com cada um dos usuários participantes do seu sorteio</li>
                        <li>Após isso, aplicamos a função SHA256 sobre cada uma dessas entradas</li>
                        <li>Por fim, ordenamos essa lista em ordem crescente e o primeiro colocado é o vencedor!</li>
                    </ul>
                    <p>Dessa forma, <u>qualquer</u> pessoa pode verificar se não houve fraudes na hora de selecionar o vencedor,
                    afinal, a chave aleatória e os participantes estão publicamente disponíveis.</p>
                    <p>Não entendeu muita coisa? Não tem problema! A única coisa que você precisa saber é que o nosso sistema é seguro,
                        e caso suspeite de fraude, você pode seguir <a href="#">esse tutorial</a> mais detalhado para manualmente verificar se o ganhador
                        é realmente aquele.
                    </p>
                </div>
            </div>
            <div class="home-item">
                <div class="home-subtitle">
                    Quem pode utilizar o serviço?
                </div>
                <div class="home-text">
                    Todos! Seja para uma aplicação mais séria ou para um sorteio em seu grupo de amigos, o Criptosorteio permite que qualquer pessoa crie e disponibilize sorteios para seus usuários.
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>
            Criptosorteio - <a href="https://github.com/alepmaros">Alexandre Maros</a>
        </p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/sweet-scroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>