<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Criptosorteio</title>
    <meta name="description" content="Content MUDAR DEPOIS">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div id="particles-js">
        <div class="content">
            <h1>
                <span class="site-title">Criptosorteio</span>
                <span class="site-description">Uma maneira prática, segura e confiável para realizar seus sorteios</span>
            </h1>

            <a class="link" href="#about" data-scroll>Entrar</a>
            <a class="link" href="#projects" data-scroll>Registrar</a>
        </div>
    </div>

    <section id="about">
    </section>
    <section id="projects">
    </section>

    <footer class="footer">
        <p>
            <a href="https://github.com/alepmaros">Alexandre Maros</a>
        </p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/sweet-scroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>