
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.montserrat {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#particles-js {
  background: #000000;
  display: block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative
}

#particle-js .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
}

.header {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  height: 30%;
}

.site-title {
  color: #0099ff;
}

.site-description {
  margin-bottom: 20px;
}

.home-link {
  padding-left: 35px;
}

.home-info {
  margin: 50px 0px;
}

.home-item {
  margin-bottom: 35px;
}

.home-subtitle {
  color: #0099ff;
  font-weight: bold;
  font-size: 25px;
}

.navbar-brand {
  color: #0099ff !important;
}

.container {
  padding-top: 20px;
}