
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.montserrat {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#particles-js {
  background: #000000;
  display: block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative
}

#particle-js .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
}

.header {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  height: 30%;
}

.site-title {
  color: #0099ff;
}

.site-description {
  margin-bottom: 20px;
}

.home-link {
  padding-left: 35px;
}

.home-info {
  margin: 50px 0px;
}

.home-item {
  margin-bottom: 35px;
}

.home-subtitle {
  color: #0099ff;
  font-weight: bold;
  font-size: 25px;
}

.navbar-brand {
  color: #0099ff !important;
}

.container {
  padding-top: 20px;
}

.pagination {
  float: right;
  padding-bottom: 30px;
  font-size: 1.4em;
}

.sorteios-title {
  color: #0099ff;
  padding: 0px;
}

.sorteio-item-box {
  min-height: 450px;
  margin-bottom: 50px;
  padding: 40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24),0 0 2px 0 rgba(0,0,0,.12);
  border-style: solid;
  border-width: .5px;
  border-image-source: linear-gradient(180deg,transparent,transparent 80%,rgba(0,0,0,.02) 95%,rgba(0,0,0,.04));
  border-image-slice: 1;
}

.sorteio-user-avatar img {
  max-height: 45px;
  max-width: 45px;
  float: left;
  margin-right: 15px;
}

.sorteio-user-name-date p {
  margin: 0px;
}

.sorteio-info {
  margin: 25px 0px;
}

.sorteio-info img {
  max-width: 200px;
  max-height: 500px;
  margin-right: 25px;
  float: left;
}

.sorteio-users-counter {
  float: right;
  background-color: #5cb85c;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

@media screen and (min-width: 992px) {
  .sorteio-view {
    position: absolute;
  }
}

.sorteio-view {
  bottom: 40px;
  right: 40px;
}

.btn {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #2980b9);
  background-image: -moz-linear-gradient(top, #0099ff, #2980b9);
  background-image: -ms-linear-gradient(top, #0099ff, #2980b9);
  background-image: -o-linear-gradient(top, #0099ff, #2980b9);
  background-image: linear-gradient(to bottom, #0099ff, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #0099ff);
  background-image: -moz-linear-gradient(top, #3cb0fd, #0099ff);
  background-image: -ms-linear-gradient(top, #3cb0fd, #0099ff);
  background-image: -o-linear-gradient(top, #3cb0fd, #0099ff);
  background-image: linear-gradient(to bottom, #3cb0fd, #0099ff);
  text-decoration: none;
}